@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  min-height: 100%;
}

:root {
  --speed: 500ms;
}

/* react-responsive-modal Customisation */
.customModal {
  @apply rounded-sm;
}
.customModalCloseButton {
  @apply flex h-8 w-8 items-center justify-center rounded-full hover:bg-secondary-dark-10;
}
.customModalContainer {
  @apply flex h-fit justify-center;
}

/* GIVE ME CHOICE PUSHABLE BUTTON EFFECT */
.pushable-hover:hover {
  outline-offset: 4px;
}
.pushable {
  outline-offset: 4px;
}
.front-hover:hover {
  transform: translateY(-4px);
}
.front {
  transform: translateY(-4px);
}
.pushable-hover:active .front-hover {
  transform: translateY(-1px);
}
.pushable:active .front {
  transform: translateY(-1px);
}

/* CSSTransition classes  */
.dropdown-menu {
  transform: translateX(-55%);
}
.menu-primary-enter {
  /* background-color: white; */
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  /* background-color: white; */
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  /* background-color: white; */
  position: absolute;
}
.menu-primary-exit-active {
  /* background-color: white; */
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  /* background-color: white; */
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  /* background-color: white; */
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
  /* background-color: white; */
  opacity: 100%;
}
.menu-secondary-exit-active {
  /* background-color: white; */
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
