@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Bold.woff2');
  font-weight: bold;
  font-style: bold;
}

html,
body {
  min-height: 100%;
  /* overscroll-behavior: none; */
  /* scroll-behavior: smooth; */
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
}

:root {
  --speed: 500ms;
}

input {
  border-radius: 0;
}

input[type='text'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -webkit-input-placeholder {
    font-weight: normal;
  }
  --moz-placeholder {
    font-weight: normal;
  }
  ::placeholder {
    font-weight: normal;
  }
  text-decoration: none;
}

.normal-font {
  font-weight: normal !important;
}

/* react-responsive-modal Customisation */
.customModal {
  @apply rounded-sm;
}
.customModalCloseButton {
  @apply flex h-8 w-8 items-center justify-center rounded-full hover:bg-secondary-dark-10;
}
.customModalContainer {
  @apply flex h-fit justify-center;
}

.clean-appearance {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  appearance: none;
  font-weight: 400; */
}

/* DropdownMenu Transitions  */
.dropdown-menu {
  top: 5rem;
  background-color: #f0f0f5;
}
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}
.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
  opacity: 100%;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
}

.background-animate-slow {
  background-size: 400%;

  -webkit-animation: Animation2Name 30s ease infinite;
  -moz-animation: Animation2Name 30s ease infinite;
  animation: Animation2Name 30s ease infinite;
}

@keyframes Animation2Name {
  0%,
  100% {
    background-position: 0% 300%;
  }
  50% {
    background-position: 200% 0%;
  }
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
}
