@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  min-height: 100%;
}

::selection {
  background: #a7f700;
}

.decoration-6 {
  text-decoration-thickness: 5px;
}

/* Hamburger Menu */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(8px);
}

.hamburger-bottom {
  transform: translateY(16px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(7px) translate(7px);
  height: 1.5px;
  width: 32px;
  /* background: white; */
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(7px) translate(-7px);
  height: 1.5px;
  width: 32px;
  /* background: white; */
}
.pushable-hover:hover {
  outline-offset: 4px;
}
.pushable {
  outline-offset: 4px;
}
.front-hover:hover {
  transform: translateY(-4px);
}
.front {
  transform: translateY(-4px);
}
.pushable-hover:active .front-hover {
  transform: translateY(-1px);
}
.pushable:active .front {
  transform: translateY(-1px);
}
